<section>
  <h2>Bug submission form</h2>
  <form [formGroup]="bugFormGroup" (ngSubmit)="onSubmit()">
    <div>
      <label>Title</label>
      <input type="text" formControlName="title"  />
    </div>
    <div>
      <label>description</label>
      <textarea formControlName="description" ></textarea>
    </div>
    <div>
      <label>Priority</label>
      <select  formControlName="priority">
        <option value="0">Minor</option>
        <option value="1">Major</option>
        <option value="2">Critical</option>
      </select>
    </div>
    <div>
      <label>Reporter</label>    
      <select formControlName="reporter">
        <option>QA</option>
        <option>PO</option>
        <option>Dev</option>
      </select>
    </div>
    <div>
      <label>Status</label>
      <select formControlName="status">
        <option>Ready for test</option>
        <option>Done</option>
        <option>Rejected</option>
      </select>
    </div>

    <button [disabled]="bugFormGroup.invalid" type="submit">Save</button>
  </form>
</section>
