<button class="btn btn-primary" [routerLink]="['/bug']">Add new</button>

<div class="row">
  <div class="col-2" (click)="sortBy('title')"><strong>Title</strong></div>
  <div class="col-1" (click)="sortBy('priority')"><strong>Priority</strong></div>
  <div class="col-2" (click)="sortBy('reporter')"><strong>Reporter</strong></div>
  <div class="col-2" (click)="sortBy('createdAt')"><strong>Date Created</strong></div>
  <div class="col-2" (click)="sortBy('status')"><strong>Status</strong></div>
  <div class="col-2"><strong># comments</strong></div>
  <div class="col-1"></div>
</div>

<app-advanced-search (advancedSearch)="advancedSearch($event)"></app-advanced-search>

<div class="row" [ngClass]="{'odd': odd}" *ngFor="let bug of (bugs$ | async); let odd=odd; ">
    <div class="col-2">{{bug.title}}</div>
    <div class="col-1">{{bug.priority}}</div>
    <div class="col-2">{{bug.reporter}}</div>
    <div class="col-2">{{bug.createdAt | date}}</div>
    <div class="col-2">{{bug.status}}</div>
    <div class="col-2">{{bug.userComments?.length}}</div>
    <div class="col-1"><a [routerLink]="['/bug',bug.id]">Edit</a></div>
  </div>

<app-pagination [totalPages]="totalPages" (pageChanged)="pageChanged($event)" ></app-pagination>
